$arrowSize: 16px;

.qing-popover {
	position: absolute;
	left: -9999px;
	top: -9999px;
	z-index: 200;

	.qing-popover-content {
		padding: 10px 15px;
		background: #fff;
		border: .5px solid #ddd;
		border-radius: 2px;
		box-shadow: 0 0 6px rgba(0,0,0,0.15);
		white-space: nowrap;
	}

	.qing-popover-arrow {
		position: absolute;
		width: $arrowSize;
		height: $arrowSize;

    .arrow {
      font-size: 0;
		  height: 0;
		  width: 0;
		  border-style: solid;
		  border-width: $arrowSize / 2;
		  position: absolute;
		  left: 0;
		  top: 0;
    }
	}

	&.direction-right-top,
	&.direction-right-bottom,
	&.direction-right-middle {
    .qing-popover-arrow {
      left: -$arrowSize;
    }

	  .arrow-basic {
      border-color: transparent #fff transparent transparent;
      left: 1px;
    }

    .arrow-border {
      border-color: transparent #ddd transparent transparent;
      left: 0px;
    }

    .arrow-shadow-0 {
      border-color: transparent rgba(0,0,0,0.08) transparent transparent;
      left: -1px;
    }
	}

  &.direction-left-top,
	&.direction-left-bottom,
	&.direction-left-middle {
	  .qing-popover-arrow {
	    right: -$arrowSize;
    }

    .arrow-basic {
      border-color: transparent transparent transparent #fff;
      left: -1px;
    }

    .arrow-border {
      border-color: transparent transparent transparent #ddd;
      left: 0px;
    }

    .arrow-shadow-0 {
      border-color: transparent transparent transparent rgba(0,0,0,0.08);
      left: 1px;
    }
	}

	&.direction-left-top,
	&.direction-right-top {
	  .qing-popover-arrow {
      bottom: $arrowSize;
    }
  }

  &.direction-left-bottom,
  &.direction-right-bottom {
    .qing-popover-arrow {
      top: $arrowSize;
    }
  }

  &.direction-left-middle,
  &.direction-right-middle {
    .qing-popover-arrow {
      top: 50%;
      margin-top: -$arrowSize / 2;
    }
  }

  &.direction-top-left,
  &.direction-top-right,
  &.direction-top-center {
    .qing-popover-arrow {
      bottom: -$arrowSize;
    }

    .arrow-basic {
      border-color: #fff transparent transparent transparent;
      top: -1px;
    }

    .arrow-border {
      border-color: #ddd transparent transparent transparent;
      top: 0px;
    }

    .arrow-shadow-0 {
      border-color: rgba(0,0,0,0.08) transparent transparent transparent;
      top: 1px;
    }
  }

  &.direction-bottom-left,
	&.direction-bottom-right,
	&.direction-bottom-center {
    .qing-popover-arrow {
	    top: -$arrowSize;
    }

    .arrow-basic {
      border-color: transparent transparent #fff transparent;
      top: 1px;
    }

    .arrow-border {
      border-color: transparent transparent #ddd transparent;
      top: 0px;
    }

    .arrow-shadow-0 {
      border-color: transparent transparent rgba(0,0,0,0.08) transparent;
      top: -1px;

    }
  }

  &.direction-top-left,
  &.direction-bottom-left {
    .qing-popover-arrow {
      right: $arrowSize;
    }
  }

  &.direction-top-right,
  &.direction-bottom-right {
    .qing-popover-arrow {
      left: $arrowSize;
    }
  }

  &.direction-top-center,
  &.direction-bottom-center {
    .qing-popover-arrow {
      left: 50%;
      margin-left: -$arrowSize / 2;
    }
  }
}
